
html, body {
  margin: 0;
  padding: 0;
}

html {
  max-width: auto;
}

body {
  width: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  
  margin: 0 auto;
  padding: 0;
  box-sizing: content-box;
}

.header {
  
  background: url('../img/header_background.jpg') no-repeat;
  background-size: cover;
}

.header-nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 35px 0;
  align-items: center;
  border-bottom: 2px solid #666666;
}

.logo {
  width: auto;
  display: block;
  text-align: center;
}

.logo-img {
  width: 100%;
}

.navigation {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  margin-right: -70px;
  padding: 0;
  list-style: none;
}

.navigation-item {
  margin-right: 70px;
}

.navigation-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  opacity: 0.75;
  transition: 0.2s;
}

.navigation-link:hover {
  color: #66697e;
  opacity: 0.75;
}

.navigation-link:focus {
  color: #66697e;
}

.promo-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 170px;
  text-align: center;
}

.promo-title {
  width: 100%;
  margin: 0 auto; 
  color: white;
  text-transform: uppercase;
  font-size: 65px;
  line-height: 1.1;
  text-align: center;
}

.promo-description {
  margin: 30px auto 0 auto;
  color: white;
  font-size: 22px;
  padding: 0 25px 0 25px;
  line-height: 1.5;
  margin-bottom: 75px;
}

.promo-button {
  display: block;
  width: 20%;
  margin: 0 auto;
  padding: 18px 10px;
  background-color: #ff3333;
  border: none;
  text-transform: uppercase;
  color: white;
  cursor: pointer;

  box-sizing: content-box;
}

.features {
  width: 100%;
}

.feature-img {
}

.features-list {
  width: 60%;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 55px auto 120px auto;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
}

.features-item {
  width: calc(100%/3);
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.feature-title {
  margin-top: 30px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.feature-description {
  margin-top: 25px;
  margin-bottom: 0;
  text-align: center;
}

.samples {
  width: 100%;
}

.samples-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  
  box-sizing: border-box;
  list-style: none;
}

.samples-item {
  width: calc(100%/4);
  min-width: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2px;
  text-align: center;
  
}

.sample-1 {
  background-image: url("../img/Sample_1.png");
}

.sample-2 {
  background-image: url("../img/Sample_2.png");
}

.sample-3 {
  background-image: url("../img/Sample_3.png");
}

.sample-4 {
  background-image: url("../img/Sample_4.png");
}

.sample-5 {
  background-image: url("../img/Sample_5.png");
}

.sample-6 {
  background-image: url("../img/Sample_6.png");
}

.sample-7 {
  background-image: url("../img/Sample_7.png");
}

.sample-8 {
  background-image: url("../img/Sample_8.png");
}

.sample-href {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-color: rgba(255, 51, 51, 1);
  opacity: 0;
  transition: 0.3s;
}

.sample-href:hover {
  opacity: 0.8;
}

.project-title,
.project-description {
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  color: white;
}

.project-title {
  text-transform: uppercase;
}

.project-description {
  margin-top: 10px;
}

.team {
  width: 100%;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin: 100px -30px 100px 0;
  padding: 0;
  justify-content: center;
  
  list-style: none;
}

.team-card {
  max-width: 270px;
  margin: 0 30px 5px 0;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card-container {
  padding: 2px 16px 16px 16px;
}

.team-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.teammate-name {
  font-size: 22px;
  font-family: "Myriad Pro";
  font-weight: normal;
  color: rgb(45, 48, 51);
  line-height: 1.2;
  margin: 30px 0 0 0;
}

.teammate-position {
  font-size: 13px;
  color: rgb(232, 69, 69);
  text-transform: uppercase;
  line-height: 1.2;
  margin: 15px 0 0 0;
}

.teammate-about {
  font-size: 14px;
  color: rgb(108, 114, 121);  
  margin: 30px 0 0 0;
}

.teammate-social {
  display: flex;
  flex-wrap: wrap;
  margin: 55px 0 0 0;
  padding: 0;

  list-style: none;
}

.teammate-social-item {
  margin: 0;
  margin-right: 4px;
}

.teammate-social-item:nth-child(3n) {
  margin-right: 0;
}

.teammate-social-link {
  display: block;
  font-size: 0;
  width: 38px;
  height: 38px;
  border: 1px solid #e8ecee;
}

.teammate-social-link-fb {
  background-image: url("../img/fb_logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.teammate-social-link-tw {
  background-image: url("../img/tw_logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.teammate-social-link-in {
  background-image: url("../img/in_logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.teammate-social-link-fb:hover, .teammate-social-link-tw:hover, .teammate-social-link-in:hover,
.teammate-social-link-fb:focus, .teammate-social-link-tw:focus, .teammate-social-link-in:focus {
  filter: invert(100%);
}

.carousel-items,
.carousel-labels {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

.carousel-wrapper {
	width: 100%;
	position: relative;
	padding-bottom: 30%;
	background-color: #eee;
	overflow: hidden;
}
.carousel-items {
	width: 500%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	transition: left .5s ease-out;
        -o-transition: left .5s ease-out;
        -ms-transition: left .5s ease-out;
        -moz-transition: left .5s ease-out;
        -webkit-transition: left .5s ease-out;
}
.carousel-item {
	width: calc(100%/5);
	height: 100%;
    color: white;
	float: left;
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
}
.carousel-item1 {
    background-color: #53354a;
	background-image: url(/img/carousel_back_1.jpg);
}
.carousel-item2 {
	background-color: #53354a;
	background-image: url(/img/carousel_back_2.jpg);
}
.carousel-item3 {
	background-color: #53354a;
	background-image: url(/img/carousel_back_3.jpg);
}

.carousel-item4 {
	background-color: #53354a;
	background-image: url(/img/carousel_back_4.jpg);
}

.carousel-item5 {
	background-color: #53354a;
	background-image: url(/img/carousel_back_5.jpg);
}

.carousel-content {
	width: 30%;
	margin-left: 60%;
	margin-top: 5%;
}

.statement {  
	margin: 0;
	font-size: 2vw;
	font-family: "Myriad Pro";
	color: rgb(255, 255, 255);
	line-height: 1.167;  
  }
  
  .name-position {
	margin: 40px 0 0 0;
	font-size: 1vw;
	font-family: "Myriad Pro";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.615;   
  }

.carousel-labels {
	width: 40%;
	height: 20px;
	position: absolute;
	z-index: 2;
	left: calc(100%/1.6);
	bottom: calc(100%/100);
	padding: 10px 0;
	text-align: center;
}
.carousel-selector {
	display: none;
}
.carousel-label {
	width: auto;
	display: inline-block;
}
.carousel-label label {
	width: 12px;
	height: 12px;
	margin-right: 0.5rem;
	border-radius: 50%;
	background-color: white;
	display: block;
	cursor: pointer;
}

#slide1:checked ~ .carousel-items {
	left: 0;
}
#slide1:checked ~ .carousel-labels .carousel-label:nth-child(1) label {
	background-color: black;
}
#slide2:checked ~ .carousel-items {
	left: -100%;
}
#slide2:checked ~ .carousel-labels .carousel-label:nth-child(2) label {
	background-color: black;
}
#slide3:checked ~ .carousel-items {
	left: -200%;
}
#slide3:checked ~ .carousel-labels .carousel-label:nth-child(3) label {
	background-color: black;
}
#slide4:checked ~ .carousel-items {
	left: -300%;
}
#slide4:checked ~ .carousel-labels .carousel-label:nth-child(4) label {
	background-color: black;
}
#slide5:checked ~ .carousel-items {
	left: -400%;
}
#slide5:checked ~ .carousel-labels .carousel-label:nth-child(5) label {
	background-color: black;
}

.download {
  width: 100%;
  
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download-title {
  margin: 0 auto;
  padding: 0 20px;
  font-size: 28px;
  font-family: "Myriad Pro";
  color: rgb(45, 48, 51);
  line-height: 0.75;
  text-align: center;  
}

.download-description {
  margin: 20px auto 0 auto;
  font-size: 13px;
  font-family: "Myriad Pro";
  color: rgb(45, 48, 51);
  text-transform: uppercase;
  line-height: 1.615;
  text-align: center;
}

.download-now {
  display: block;
  text-align: center;
  width: 15%;
  padding: 16px 10px;
  margin: 50px auto 0 auto;
  background-color: rgb(232, 69, 69);
  border-radius: 2px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;

  box-sizing: content-box;
}

.footer {
  width: 100%;
  background-color: #3a3e64;
  border-top: 1px solid white;
}

.footer-list {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 130px auto 100px auto;
  padding: 0;
  box-sizing: content-box;
  
  list-style: none;
}

.footer-item {
  min-width: 30%;
  text-align: center;
  margin-bottom: 30px;
}

.footer-item:nth-child(2) {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer-item-title {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.footer-item-description {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: rgba(255, 255, 255, 0.502);
  line-height: 1.607;
  text-align: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  padding: 0 10px 0 0;
  
  list-style: none;
}

.footer-social-item {
  margin-right: 10px;
}

.footer-social-link {
  display: block;
  font-size: 0;
  width: 40px;
  height: 40px;
  border: 2px solid white;
}

.footer-social-item:last-child {
  margin-right: 0;
}


.footer-social-link-fb {
  background-image: url("../img/fb_logo_footer.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-link-tw {
  background-image: url("../img/tw_logo_footer.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-link-in {
  background-image: url("../img/in_logo_footer.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-link-fb:hover, .footer-social-link-tw:hover, .footer-social-link-in:hover,
.footer-social-link-fb:focus, .footer-social-link-tw:focus, .footer-social-link-in:focus {
  filter: invert(100%);
}

.footer-down {
  width: 100%;
  padding: 25px 0 30px 0;
  background-color: #313454;
  
}

.copyright {
  margin: 0;
  font-size: 14px;
  font-family: "Myriad Pro";
  color: rgb(128, 128, 128);
  line-height: 1.607;
  text-align: center;
}

.copyright span {
  color: white;
}
